<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        h1{
            text-align: center;
        }
        table{
            margin: auto;
        }
        table,th,td{
            border: 1px solid black;
            text-align: center;
        }
        a{
            text-decoration: none;
            margin-left: 50%;
        }
    </style>
</head>
<body>

    <h1>Information of the Users</h1><br><br>
    <a href="/users/new">Add New User</a><br><br><br><br>

    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for(let user of users) { %>
            <tr>
                <td> <%= user.id %></td>
                <td> <%= user.username %> </td>
                <td> <%= user.email %> </td>
                <form method="get" action="/users/<%= user.id %>/edit">
                    <td><button>Edit</button></td>
                </form>
                <form method="get" action="/users/<%= user.id %>/delete">
                    <td><button>Delete</button></td>
                </form>
            </tr>
        <% } %>
    </table>

    
</body>
</html>